<main class="main">
    <div class="header-container">
        <h1 #colorfulHeader class="animated-header" id="colorful-header"
            style="font-weight: bold; text-align: center; font-size: 3rem; margin: 0 10px; white-space: nowrap;">
            Caleb's Compendium
        </h1>
    </div>

    <!-- Active Route View Container -->
    <div class="view-content-wrapper">
        <router-outlet></router-outlet>
    </div>

    <!-- Clicker Easter Egg Game Overlay -->
    <app-clicker-overlay *ngIf="state.showClickerGame"></app-clicker-overlay>
</main>